@import "common";
@charset "utf-8";
.art{
  padding:0 84px;
  ul{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    min-height:594px;
    padding-bottom:20px;
    li{
      &:not(:nth-child(4n)){
        margin-right:29px;
      }

     figure{
        a{
          display: block;
          color:#000;
          &:hover{
            color:#000;
          }
          figcaption{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            line-height: 40px;
            span{
              font-size:14px;
              @include simpleLine(130);
            }
            u{
              text-decoration: none;
              color:$theme-color-pink-active;
              font-weight:bold;
            }
          }
        }
      }
    }
  }
}
.art_details{
    padding:20px 84px 0;
    display: flex;
    flex-wrap: wrap;
  .art_details_msg{
    margin-left:15px;
    margin-top:30px;
    h1{
      font-size:14px;
      color:$theme-color-pink1;
      font-weight:normal;
    }
    table{
      margin-top:20px;
      margin-left:15px;
      tbody{
        tr{
          line-height: 30px;
          td{
            font-size:12px;
          }
        }
      }
    }
    .content_1{
      margin-left:15px;
      margin-top:15px;
      width:360px;
      height:190px;
      overflow: auto;
      text-indent: 24px;
      font-size: 12px;
      color:#999;
    }
  }
  .art_details_list{
    >p{
      font-weight:bold;
      font-size:18px;
      line-height:50px;
    }
    ul{
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      padding-bottom:20px;
      li{
        &:not(:nth-child(4n)){
          margin-right:29px;
        }

        figure{
          a{
            display: block;
            color:#000;
            &:hover{
              color:#000;
            }
            figcaption{
              display: flex;
              flex-flow: row;
              justify-content: space-between;
              line-height: 40px;
              span{
                font-size:14px;
                @include simpleLine(130);
              }
              u{
                text-decoration: none;
                color:$theme-color-pink-active;
                font-weight:bold;
              }
            }
          }
        }
      }
    }
  }
}