@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Microsoft YaHei UI";
  font-size: 16px;
  vertical-align: bottom; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: #eee; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none; }

button {
  font-family: "Microsoft YaHei UI";
  outline: none;
  border: none; }

.wrapper {
  width: 1200px;
  margin: auto;
  background: rgba(255, 255, 255, 0.9); }

.index-outer {
  background: url("../img/bg.jpg") no-repeat;
  background-size: 100% 100%; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover, a.active {
    color: #dc4652; }

.header {
  width: 100%;
  background: #1e2326; }
  .header .header-inner {
    margin: 0 auto;
    width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .header-inner .header-inner-logo {
      height: 30px;
      width: 395px; }
    .header .header-inner .header-inner-service {
      position: relative;
      width: 200px;
      height: 20px; }
      .header .header-inner .header-inner-service ul {
        display: flex; }
        .header .header-inner .header-inner-service ul li {
          height: 16px; }
          .header .header-inner .header-inner-service ul li a {
            display: inline-block;
            font-size: 12px;
            line-height: 16px; }
          .header .header-inner .header-inner-service ul li:first-child {
            border-right: 1px solid #fff; }
            .header .header-inner .header-inner-service ul li:first-child a {
              padding-right: 8px; }
          .header .header-inner .header-inner-service ul li:nth-child(2) a {
            padding-left: 8px; }
      .header .header-inner .header-inner-service button {
        position: absolute;
        right: 35px;
        top: -2px;
        color: #fff;
        cursor: pointer;
        background: #723f3f; }
  .header .header-inners {
    width: 100%;
    background: #2a2a2a; }
    .header .header-inners nav {
      border-top: 2px solid #35393c;
      display: flex;
      justify-content: center; }
      .header .header-inners nav ul {
        display: flex;
        flex-flow: row;
        height: 69px;
        justify-content: center;
        width: 970px; }
        .header .header-inners nav ul li:not(last-child) {
          border-right: 1px solid #353535;
          border-left: 1px solid #0d0c08; }
        .header .header-inners nav ul li a {
          padding: 0 36px;
          line-height: 69px;
          display: inline-block;
          height: 69px; }
          .header .header-inners nav ul li a:hover, .header .header-inners nav ul li a.active {
            color: #fff;
            background: #dc1720; }

footer {
  width: 100%;
  height: 212px;
  background: #333333;
  color: #fff;
  border-top: 5px solid #dc4652; }
  footer p {
    margin: auto;
    font-size: 14px;
    text-align: center;
    padding-top: 36px; }
    footer p span {
      line-height: 25px;
      color: #fff; }
  footer ul {
    overflow: hidden;
    margin: 0 auto;
    width: 637px;
    margin-top: 20px; }
    footer ul li {
      float: left;
      border-right: 1px solid #fff; }
      footer ul li:last-child {
        border: none; }
      footer ul li a {
        color: #fff;
        font-size: 12px;
        padding: 0 20px; }

/*面包屑*/
.breadcrumb {
  font-size: 18px;
  color: #723f3f;
  padding: 20px 83px 0px 83px; }
  .breadcrumb u {
    text-decoration: none;
    line-height: 30px; }
  .breadcrumb a {
    color: #723f3f;
    line-height: 30px; }
    .breadcrumb a:hover {
      color: #dc4652; }
  .breadcrumb span {
    line-height: 30px; }
  .breadcrumb .tab-items {
    float: right; }
    .breadcrumb .tab-items button {
      border: none;
      color: #666;
      background: #f2f2f2;
      padding: 5px 20px;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #fff; }
      .breadcrumb .tab-items button:hover {
        color: #fff;
        background: #666;
        border-bottom: 2px solid #ea703a; }
      .breadcrumb .tab-items button.active {
        color: #fff;
        background: #666;
        border-bottom: 2px solid #ea703a; }

.PagePlugs {
  text-align: center; }

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px #723f3f; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #723f3f; }

.museum-details {
  padding: 10px 83px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .museum-details .museum-details-img {
    width: 640px;
    height: 360px; }
  .museum-details .museum-details-msg {
    width: 360px;
    padding: 53px 0 0 34px; }
    .museum-details .museum-details-msg .museum-details-msg-title {
      color: #723f3f;
      font-size: 18px; }
    .museum-details .museum-details-msg table {
      margin-top: 20px; }
      .museum-details .museum-details-msg table td {
        color: #666;
        line-height: 35px;
        font-size: 14px; }
    .museum-details .museum-details-msg h6 {
      font-weight: normal;
      color: #723f3f;
      line-height: 35px; }
    .museum-details .museum-details-msg .museum-details-msg-time {
      color: #666; }
      .museum-details .museum-details-msg .museum-details-msg-time p {
        font-size: 14px;
        line-height: 30px; }
  .museum-details .museum-details-service {
    width: 1036px;
    margin-right: 20px; }
    .museum-details .museum-details-service .museum-details-service-title {
      margin-top: 10px; }
      .museum-details .museum-details-service .museum-details-service-title:after {
        display: block;
        content: "";
        clear: both; }
      .museum-details .museum-details-service .museum-details-service-title li {
        float: left;
        margin-right: 20px;
        border-bottom: 2px solid #fff;
        color: #000;
        line-height: 30px;
        cursor: pointer; }
        .museum-details .museum-details-service .museum-details-service-title li:hover, .museum-details .museum-details-service .museum-details-service-title li.active {
          color: #723f3f;
          border-color: #723f3f; }
    .museum-details .museum-details-service .museum-details-service-content li {
      display: none;
      padding: 15px; }
      .museum-details .museum-details-service .museum-details-service-content li .museum-details-service-content-msg {
        font-size: 12px;
        color: #666;
        line-height: 24px;
        height: 72px;
        overflow: hidden;
        -webkit-transition: height 1s;
        transition: height 1s;
        text-align: left; }
        .museum-details .museum-details-service .museum-details-service-content li .museum-details-service-content-msg p {
          font-size: 12px; }
        .museum-details .museum-details-service .museum-details-service-content li .museum-details-service-content-msg.auto-height {
          height: auto; }
      .museum-details .museum-details-service .museum-details-service-content li.active {
        display: block; }
      .museum-details .museum-details-service .museum-details-service-content li div {
        text-align: right; }
        .museum-details .museum-details-service .museum-details-service-content li div button {
          outline: none;
          font-size: 12px;
          color: #723f3f;
          line-height: 24px;
          background: #fff;
          border: 1px solid #723f3f; }
          .museum-details .museum-details-service .museum-details-service-content li div button:hover {
            background: #dc4652;
            color: #fff;
            border-color: #dc4652; }
  .museum-details .museum-details-title {
    width: 100%;
    color: #723f3f;
    font-size: 18px;
    line-height: 35px; }
    .museum-details .museum-details-title a {
      float: right;
      color: #723f3f; }
      .museum-details .museum-details-title a:hover {
        color: #dc4652; }
  .museum-details .museum-details-collection {
    width: 668px; }
    .museum-details .museum-details-collection ul {
      margin-top: 8px; }
      .museum-details .museum-details-collection ul:after {
        display: block;
        content: '';
        clear: both; }
      .museum-details .museum-details-collection ul li {
        float: left;
        width: 192px;
        margin-right: 23px; }
        .museum-details .museum-details-collection ul li:nth-child(3), .museum-details .museum-details-collection ul li:last-child {
          margin: 0; }
        .museum-details .museum-details-collection ul li a {
          display: block;
          width: 192px;
          height: 128px; }
          .museum-details .museum-details-collection ul li a img {
            width: 100%;
            /*宽高设置100%*/
            height: 100%;
            object-fit: contain;
            background: #e4e4e4;
            /*图片不够尺寸后背景色填充*/ }
        .museum-details .museum-details-collection ul li p {
          width: 100%;
          text-align: center;
          color: #666;
          font-size: 14px;
          line-height: 40px;
          height: 40px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          width: 200px;
          height: 30px; }
  .museum-details .museum-details-map {
    margin-left: 54px; }
    .museum-details .museum-details-map div .museum-details-map-url {
      width: 308px;
      height: 314px; }
    .museum-details .museum-details-map div p {
      width: 308px;
      font-size: 14px;
      height: 35px;
      overflow: hidden;
      color: #666;
      line-height: 35px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      width: 200px;
      height: 30px; }
  .museum-details .museum-details-display {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 515px; }
    .museum-details .museum-details-display .museum-details-display-content {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .museum-details .museum-details-display .museum-details-display-content a {
        color: #723f3f; }
        .museum-details .museum-details-display .museum-details-display-content a:hover {
          color: #dc4652; }
      .museum-details .museum-details-display .museum-details-display-content div {
        margin-top: 20px;
        margin-left: 12px; }
        .museum-details .museum-details-display .museum-details-display-content div h5 {
          font-size: 12px;
          font-weight: normal;
          color: #723f3f;
          line-height: 32px; }
          .museum-details .museum-details-display .museum-details-display-content div h5 span {
            font-size: 12px;
            color: #666; }
        .museum-details .museum-details-display .museum-details-display-content div h6 {
          font-size: 14px;
          font-weight: normal;
          line-height: 32px; }
          .museum-details .museum-details-display .museum-details-display-content div h6 a {
            display: block;
            width: 200px;
            line-height: 18px;
            height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
        .museum-details .museum-details-display .museum-details-display-content div p {
          width: 206px;
          font-size: 12px;
          color: #666;
          line-height: 17px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          width: 200px;
          height: 30px; }
  .museum-details .museum-details-digization {
    padding-left: 50px;
    width: 459px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative; }
    .museum-details .museum-details-digization .line-clip {
      position: absolute;
      left: 23px;
      top: 0; }
    .museum-details .museum-details-digization .museum-details-digization-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .museum-details .museum-details-digization .museum-details-digization-content div {
        padding: 35px 0 0 30px; }
        .museum-details .museum-details-digization .museum-details-digization-content div h6 {
          font-weight: normal;
          font-size: 18px;
          color: #666;
          line-height: 50px;
          width: 130px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }

.museum-map {
  margin: 0 82px;
  padding-bottom: 50px;
  position: relative;
  height: 890px;
  background: url("../img/backgroundmusum.jpg") no-repeat; }
  .museum-map .museum-items {
    position: absolute;
    right: 30px;
    bottom: 55px;
    border: 1px solid #723f3f; }
    .museum-map .museum-items p {
      font-size: 20px;
      color: #fff;
      padding: 6px 0;
      line-height: 30px;
      text-align: center;
      background: #723f3f; }
    .museum-map .museum-items ul {
      padding: 10px 0;
      background: #e6e6e6;
      width: 315px;
      height: 300px;
      overflow: auto; }
      .museum-map .museum-items ul li a {
        line-height: 30px;
        display: flex;
        flex-flow: row;
        color: #000000;
        font-size: 14px; }
        .museum-map .museum-items ul li a:hover {
          color: #723f3f; }
        .museum-map .museum-items ul li a span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          width: 200px;
          height: 30px;
          width: 200px;
          padding-left: 20px;
          font-size: 14px; }
        .museum-map .museum-items ul li a u {
          padding-left: 10px;
          text-decoration: none;
          font-size: 14px; }

.museum-details-morecollection-title {
  padding: 10px 15px 0px 83px;
  color: #723f3f; }

.museum-details-morecollection-list {
  padding: 20px 15px 0px 83px; }
  .museum-details-morecollection-list ul:after {
    display: block;
    content: '';
    clear: both; }
  .museum-details-morecollection-list ul li {
    float: left;
    width: 240px;
    margin-right: 154px;
    margin-bottom: 25px; }
    .museum-details-morecollection-list ul li:nth-child(3n) {
      margin-right: 0px; }
    .museum-details-morecollection-list ul li h1 {
      font-weight: normal;
      font-size: 14px;
      margin-bottom: 8px; }
    .museum-details-morecollection-list ul li h4 {
      margin-top: 8px;
      color: #723f3f;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px; }
      .museum-details-morecollection-list ul li h4 span {
        color: #723f3f;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px; }
    .museum-details-morecollection-list ul li p {
      margin-top: 8px;
      font-size: 12px;
      line-height: 16px;
      color: #666; }

.museum-details-moreDisplay-list {
  padding: 20px 15px 0px 83px; }
  .museum-details-moreDisplay-list ul:after {
    display: block;
    content: '';
    clear: both; }
  .museum-details-moreDisplay-list ul li {
    float: left;
    margin-right: 27px; }
    .museum-details-moreDisplay-list ul li a h1 {
      font-weight: normal;
      font-size: 16px;
      color: #666;
      line-height: 50px;
      text-align: center; }

.museum-details-moreDigization-list {
  padding: 0 0px 0 83px;
  margin-top: 10px; }
  .museum-details-moreDigization-list:after {
    display: block;
    content: '';
    clear: both; }
  .museum-details-moreDigization-list .digization-list-item {
    float: left;
    margin-right: 115px;
    margin-bottom: 10px; }
    .museum-details-moreDigization-list .digization-list-item:nth-child(2n) {
      margin-right: 0; }
    .museum-details-moreDigization-list .digization-list-item ul:after {
      display: block;
      content: '';
      clear: both; }
    .museum-details-moreDigization-list .digization-list-item ul li {
      float: left; }
    .museum-details-moreDigization-list .digization-list-item ul .digization-list-item-img {
      width: 240px; }
      .museum-details-moreDigization-list .digization-list-item ul .digization-list-item-img p {
        font-size: 16px;
        color: #666;
        line-height: 40px;
        text-align: center; }
    .museum-details-moreDigization-list .digization-list-item ul .digization-list-item-infor {
      width: 194px;
      height: 120px;
      display: table;
      margin: 40px 0px 15px 10px; }
      .museum-details-moreDigization-list .digization-list-item ul .digization-list-item-infor p {
        vertical-align: middle;
        font-size: 14px;
        line-height: 22px; }

/*# sourceMappingURL=museum.css.map */
