<div class="wrapper">
    <img ng-src="{{imgUrlarr[3].carList[0].pic.backUrl}}" width="1200" height="120" alt="">
    <div class="activity-details">
        <div class="breadcrumb">
            <a ui-sref="home">首页</a><u>&gt;&gt;</u><a ui-sref="activity">活动</a>
        </div>
        <div class="activity-details-content">
            <div class="activity-details-content-one">
                <figure>
                    <h1 ng-bind="detailsData.activityName"></h1>
                    <h3>举办馆：<span ng-bind="detailsData.activityName"></span><span style="margin-left: 60px" ng-bind="detailsData.publishDate"></span></h3>
                    <img ng-src="{{detailsData.mainPic}}" width="640" height="426"/>
                </figure>
                <table>
                    <tbody>
                    <tr>
                        <td>活动类型：</td>
                        <td ng-bind="detailsData.categoryName"></td>
                    </tr>
                    <tr>
                        <td>活动时间：</td>
                        <td ng-bind="detailsData.activityDate"></td>
                    </tr>
                    <tr>
                        <td>活动地点：</td>
                        <td ng-bind="detailsData.activityPlace"></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-bind-html="sce(detailsData.content)">
                </div>
            </div>
            <div class="activity-details-content-two">
                <h1>近期活动</h1>
                <ul>
                    <li ng-repeat="other in detailsData.lastActivities">
                        <figure>
                            <a ui-sref="activitydetails({id:other.id})">
                                <img ng-src="{{other.pictureThumb}}" width="220" height="147"/>
                                <figcaption ng-bind="other.activityName"></figcaption>
                                <p><span ng-bind="other.musExhibition"></span><span ng-bind="other.activityDate"></span></p>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>