<div class="wrapper">
    <img  ng-src="{{imgUrlarr[11].carList[0].pic.backUrl}}" width="1200" height="120" alt="">
        <div class="breadcrumb">
            <a ui-sref="home">首页</a><u>&gt;&gt;</u><a ui-sref="Art">文创</a>
        </div>
        <div class="art">
            <ul>
                <li ng-repeat="art in data.list">
                    <figure>
                        <a ui-sref="Artdetails({id:art.id})" target="_blank">
                            <img ng-src="{{art.pictureThumb}}" width="236" height="158"/>
                            <figcaption>
                                <span ng-bind="art.productName"></span>
                                <u ng-bind="art.price"></u>
                            </figcaption>
                        </a>
                    </figure>
                </li>
            </ul>
            <div class="PagePlugs" style="padding-bottom:20px;"></div>
        </div>
</div>

