<p>
    <span>友情链接</span>
</p>
<ul>
    <li>
        <a href="">国家文物局</a>
    </li><li>
    <a href="">吉林省文物局</a>
</li><li>
    <a href="">中国文物信息咨询中心</a>
</li><li>
    <a href="">吉林省博物馆</a>
</li><li>
    <a href="http://www.baidu.com">吉林省省博物馆协会</a>
</li>
</ul>
<p style="padding-top:22px;">
    <span style="font-size:12px;color:#fff">
        <img src="img/jinhui.png" alt="">鲁公网安备 37010202000527号
    </span>
</p>
<p style="padding-top:18px;">
    <span style="font-size:12px;color:#fff">版权所有@山东省文物局 鲁ICP备06021945号</span>
</p>