<div class="wrapper">
    <div class="sliders">
        <ul>
            <!--<li ng-repeat="slide in imgUrlarr[0].carList" repeat-done="slider()">-->
            <li>
                <a href="">
                    <img src="img/history.png" width="1200" height="455" style="margin:auto;">
                </a>
            </li>
        </ul>
    </div>
    <div class="history-inner">
        <div class="history-items">
            <div class="history-item">
                <p class="history-item-title"><span>历史大事记</span><a ui-sref="historylist({type:'历史大事记',class:'1'})">更多&gt;&gt;</a></p>
                <ul>
                    <li ng-repeat="l in data.dsjList">
                        <figure>
                            <a ui-sref="historyDetails({id:l.id})">
                                <img ng-src="{{l.pictureThumb}}" width="297" height="168"/>
                                <h1 ng-bind="l.headline"></h1>
                                <figcaption>
                                    <p ng-bind="l.content|filterhtml"></p>
                                </figcaption>
                                <h3 ng-bind="l.publishDate"></h3>
                                <h4 ng-bind="l.musExhibition"></h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
            <div style="margin-top:20px;" class="history-item">
                <p class="history-item-title"><span>文化走廊</span><a ui-sref="historylist({type:'文化走廊',class:'2'})">更多&gt;&gt;</a></p>
                <ul>
                    <li ng-repeat="w in data.whzlList">
                        <figure>
                            <a ui-sref="historyDetails({id:w.id})">
                                <img ng-src="{{w.pictureThumb}}" width="297" height="168"/>
                                <h1 ng-bind="w.headline"></h1>
                                <figcaption>
                                    <p ng-bind="w.content|filterhtml"></p>
                                </figcaption>
                                <h3 ng-bind="w.publishDate"></h3>
                                <h4 ng-bind="w.musExhibition"></h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
            <div style="margin-top:20px;" class="history-item">
                <p class="history-item-title"><span>历史名人</span><a ui-sref="historylist({type:'历史名人',class:'3'})">更多&gt;&gt;</a></p>
                <ul>
                    <li ng-repeat="m in data.lsmrlList">
                        <figure>
                            <a ui-sref="historyDetails({id:m.id})">
                                <img ng-src="{{m.pictureThumb}}" width="297" height="168"/>
                                <h1 ng-bind="m.headline"></h1>
                                <figcaption>
                                    <p ng-bind="m.content|filterhtml"></p>
                                </figcaption>
                                <h3 ng-bind="m.publishDate"></h3>
                                <h4 ng-bind="m.musExhibition"></h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
            <div style="margin-top:20px;" class="history-item">
                <p class="history-item-title"><span>旅游景点</span><a ui-sref="historylist({type:'旅游景点',class:'4'})">更多&gt;&gt;</a></p>
                <ul>
                    <li ng-repeat="y in data.lyjdlList">
                        <figure>
                            <a ui-sref="historyDetails({id:y.id})">
                                <img ng-src="{{y.pictureThumb}}" width="297" height="168"/>
                                <h1 ng-bind="y.headline"></h1>
                                <figcaption>
                                    <p ng-bind="y.content|filterhtml"></p>
                                </figcaption>
                                <h3 ng-bind="y.publishDate"></h3>
                                <h4 ng-bind="y.musExhibition"></h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
        <div class="history-top-ten">
            <h1>本月热门文章TOP10</h1>
            <ul>
                <li>
                    <a ui-sref="historyDetails({id:data.hotlList[0].id})">
                        <div class="history-top-ten-img">
                            <img ng-src="{{data.hotlList[0].pictureThumb}}" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1 ng-bind="data.hotlList[0].headline"></h1>
                            <p ng-bind="data.hotlList[0].content"></p>
                        </div>
                    </a>
                </li>
                <li class="chunk-other" ng-repeat="hot in hot10">
                    <a ui-sref="historyDetails({id:hot.id})">
                        <div class="history-top-ten-msg">
                            <h1 ng-bind="hot.headline"></h1>
                            <p ng-bind="hot.content"></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>