<div class="wrapper">
    <div class="sliders">
        <ul>
            <!--<li ng-repeat="slide in imgUrlarr[0].carList" repeat-done="slider()">-->
            <li>
                <a href="">
                    <img src="img/history.png" width="1200" height="455" style="margin:auto;">
                </a>
            </li>
        </ul>
    </div>
    <div class="history-inner">
        <div class="history-items">
            <div class="history-item">
                <p class="history-item-title"><span>历史大事记</span><a href="">更多&gt;&gt;</a></p>
                <ul>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
            <div style="margin-top:20px;" class="history-item">
                <p class="history-item-title"><span>文化走廊</span><a href="">更多&gt;&gt;</a></p>
                <ul>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
            <div style="margin-top:20px;" class="history-item">
                <p class="history-item-title"><span>历史名人</span><a href="">更多&gt;&gt;</a></p>
                <ul>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
            <div style="margin-top:20px;" class="history-item">
                <p class="history-item-title"><span>旅游景点</span><a href="">更多&gt;&gt;</a></p>
                <ul>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="">
                                <img src="img/history-items.png" width="297" height="168"/>
                                <h1>黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀asdfasdfasdfasd</h1>
                                <figcaption>
                                    黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀.黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀黄浦江上的的卢浦大桥的说法是打发斯蒂芬手动阀
                                </figcaption>
                                <h3>2017/2/17 18:00</h3>
                                <h4>吉林省博物馆</h4>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
        <div class="history-top-ten">
            <h1>本月热门文章TOP10</h1>
            <ul>
                <li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li><li>
                    <a href="">
                        <div class="history-top-ten-img">
                            <img src="img/top10.png" width="150" height="85" alt="">
                        </div>
                        <div class="history-top-ten-msg">
                            <h1>吉林历史沿asdfasdfasdfasdfas革</h1>
                            <p>sdfasdfasdfasdfasd吉林历史久70000年前，就有人土按时间顺序周为肃周为肃慎dfasdfasdfasdfasdfas地，扶余地......</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>